:root {
  --gold: #dcaf68;
  --grey: #4f594a;
  --blue_dark: #4e7082;
  --blue: #80aeb5;
  --blue_light: #bad5d8;
  --blue_lighter: #d7e7ea;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Black.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-BlackItalic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-Bold.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-BoldItalic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-ExtraLight.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-Italic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-Light.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-LightItalic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-Medium.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-MediumItalic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-Regular.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-Thin.ttf") format("truetype");
  src: url("./assets/fonts/Raleway-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Girassol";
  src: url("./assets/fonts/Girassol-Regular.ttf") format("truetype");
}

body {
  margin: 25px;
}
